<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#8257e5">
        <title>Profs | Sua plataforma de estudos online</title>

        <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

        <link rel="stylesheet" href="./styles/main.css">
        <link rel="stylesheet" href="./styles/partials/page-landing.css">

        <link href="https://fonts.googleapis.com/css2?family=Archivo:ital@1&family=Poppins&display=swap" rel="stylesheet">

    </head>

<body id="page-landing">

    <div id="container">

        <div class="logo-container">
            <h1>Profs</h1>
            <h2>A nova plataforma de estudos online</h2>
        </div><!--Logo-->

        <img class="hero-image" src="/images/landing.svg" alt="Plataforma de estudos">


        <div class="buttons-container">
            <a class="study"href="/study">
                <img src="/images/icons/study.svg" alt="Estudar">
                Ser aluno
            </a>

            <a class="give-classes"href="/give-classes">
                <img src="/images/icons/give-classes.svg" alt="Dar aulas">
                Ser professor
            </a>
        </div><!--Buttons-->

        <p class="total-connections">
            Mais de 200 conexões realizadas
            <img src="/images/icons/purple-heart.svg" alt="Coração roxo">
        </p>
 
    </div><!--CONTAINER-->

</body>

</html>